<div class="overlay" (click)="onClose()">
  <div class="info" (click)="$event.stopPropagation()">
    <div class="button"><button (click)="onClose()"><ng-icon name="lucideX" class="X"/></button></div>
    <div class="images"><img [src]="gameInfo()?.background_image" alt="Game Image" class="media"></div>
    <div class="about">
      <div class="title">{{ gameInfo()?.name }}</div>
      <div class="description"> {{ gameDescription() }}</div>
      <div class="reviews">Reviews</div>
    </div>

  </div>
</div>