.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 800px;
  height: 600px;
}

div {
  color: white;
  background-color: rgba(0, 0, 0, 0.518);
}