<div class="overlay" (click)="onClose()">
  <div class="info" (click)="$event.stopPropagation()">
    <div class="button"><button (click)="onClose()"><ng-icon name="lucideX" class="X"/></button></div>
    <div class="game">
      <!-- TODO: get game trailer -->
      <!-- TODO: get screenshots, in game images etc. -->
      <img [src]="gameInfo()?.background_image" alt="Game Image" class="media">
      <app-game-deals></app-game-deals>
    </div>
    <div class="about">
      <div class="title">{{ gameInfo()?.name }}</div>
      <div class="description"> {{ gameDescription() }}</div>
      <app-game-reviews></app-game-reviews>
    </div>

  </div>
</div>