<app-games-search></app-games-search>

<div class="top-games-container">
  @for (game of games(); track game.id) {
  <div class="game-card" (click)="openInfo(game)">
    <img [src]="game.background_image" [alt]="game.name" />
    <div class="game-info">
      <h3>{{ game.name }}</h3>
      <p class="released">Released: {{ game.released }}</p>
      <p class="rating">
        <ng-icon name="lucideStar" class="star-icon"></ng-icon>
        {{ game.rating }}/5
      </p>
      @if (game.metacritic) {
      <p class="metacritic">Metacritic: {{ game.metacritic }}</p>
      }
    </div>
  </div>
  }
</div>

@if ( loading() ) {
  <app-loading-screen></app-loading-screen>
}
@if (showInfo()) {
<app-game-info (close)="closeInfo()"></app-game-info>
}
<app-games-pagination></app-games-pagination>