:host {

    .main-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        background-color: #333333;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 7.5vh 12.5vh 80vh;
    }
    
    .top-sale {
        display: flex;
        grid-column: span 3;
        grid-row: 2;
        margin: 0;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
        text-shadow: 
            4px 4px 0px #000000,
            8px 8px 0px #333333,
            12px 12px 0px #666666;
    }

    .top-sale-games-container {
        display: grid;
        grid-column: span 3;
        grid-row: 3;
        justify-content: center;

    }

    .top-sale-games {
        display: grid;
        border: 5px solid white;
        width: 75vw;
        height: 30vh;
        grid-template-columns:5rem 1fr 1fr 1fr 5rem;
        grid-template-rows: 1fr 5%;
        gap: 10px;
    }

    i {
        font-size: 5rem;
        color: white;
        background: transparent;
    }

    i:hover {
        transform: scale(1.1);
    }

    .nav-arrow {
        background: transparent;
        box-shadow: none;
        border: none;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: none;
    }

    .game {
        display: grid;
        background-color: #ca86c7;
        grid-template-columns: 1;
        grid-template-rows: 65% 20% 15%;
    }

    .game-image {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .game-title {
        padding: .5rem;
        font-size: .5rem;
        color: white;
        letter-spacing: 3px;
    }

    .game-price {
        display: flex;
        justify-content: right;
        
        padding: .5rem;
        font-size: 1rem;
    }

    p {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0;
    }

}