<div class="reviews">
    <div class="review-title">Reviews</div>
    @if ( reviews() ) {
        @for ( review of reviews()!.results; track $index ) {
        <div class="review">
            <div class="image-container">
                @if (review.user.avatar) {
                    <img [src]="review.user.avatar" alt="" class="image">
                } @else {
                    <img src="assets/anonymous.jpg" alt="" class="image">
                }
            </div>
            <div class="username">{{ review.user.username }}</div>
            <!-- <div class="date">{{ review.created }}</div> -->
            <div class="text">{{review.text}}</div>
            <div class="rating"> {{ review.rating }}/5</div>
        </div>
        }
    }
    <div class="buttons">
        <button class="button" (click)="prevPage()"><</button>
        @if(currentPagination() > 3) {
            <button class="button" (click)="goToPage(1)">1</button>
            <button class="button button2">...</button>
        }
        @for(page of page(); track page) {
            <button 
                class="button" 
                [class.active]="page === currentPagination()"
                (click)="goToPage(page)">
                {{page}}
            </button>
        }
        @if(currentPagination() != PagesPagination) {
            <button class="button button2">...</button>
            <button class="button" (click)="goToPage(PagesPagination)">{{PagesPagination}}</button>
        }
        <button class="button" (click)="nextPage()">></button>
    </div>
</div>