<header>
    <div class="header-container">
        <a href="" class="logo">
            <img src="assets/logo/PixelGamesLogo.png" alt="" class="logo-icon">
            <h1 class="title">PixelGames</h1>
        </a>
        <div class="inputs">
            <form action="">
                <!-- search icon -->
                <input type="search" placeholder="Search">
            </form>
            <select name="" id="">
                <option value="">English | EUR</option>
                <option value="">French | EUR</option>
                <option value="">English | USD </option>
            </select>
        </div>
        <div>
            <a href="" class="login">Login</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="" class="login">Register</a>
        </div>
    </div>

